# exclude everything
.idea/*
userfiles/*
vendor/*
public/css/style.css
public/css/style.min.css
public/node_modules/*
public/npm
public/npm.cmd
public/npx
public/npx.cmd
public/css/.sass-cache/*
temp/**
config/general.local.neon
config/general.production.neon
public/admin/css/.sass-cache/*
*.min.js
*.map
tests/acceptance.suite.yml
userfiles.zip
invoices/*
composer.lock

# except
!userfiles/.gitkeep
!temp/.gitkeep
!temp/log
!temp/log/.gitkeep
!temp/sessions
!temp/sessions/.gitkeep
!public/css/front.css

